@using MudBlazor
@using OnTask.BlazorWpf.Data.Activities
@using OnTask.BlazorWpf.Data.Tasks
@page "/Collection/{id}"

<MudContainer>
    @if (_collection.IsFocused)
    {
        <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">This is a focused collection</MudAlert>
    }
    <MudCard class="mb-2 mt-2">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">@_collection.Name</MudText>
                <div class="d-flex flex-wrap mt-4">
                    <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Compact View</MudSwitch>
                </div>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"/>
            </CardHeaderActions>
        </MudCardHeader>
    </MudCard>
    <MudCard Class="mb-2">
        <MudCardContent>
            <MudTable Items="@_collection.Tasks" Striped="true" Dense="@dense">
                <ToolBarContent>
                    <MudText Typo="Typo.caption">There are @_collection.Tasks.Count tasks in this collection.</MudText>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Created</MudTh>
                    <MudTh>Status</MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd DataLabel="Created">@context.CreatedAt.ToShortDateString()</MudTd>
                    <MudTd DataLabel="Status">
                        @if ((TaskStatusEnum) context.Status == TaskStatusEnum.Pending)
                        {
                            <MudChip Color="Color.Primary">Pending</MudChip>
                        } else if ((TaskStatusEnum) context.Status == TaskStatusEnum.InProgress)
                        {
                            <MudChip Color="Color.Warning">In Progress</MudChip>
                        }
                        else
                        {
                            <MudChip Color="Color.Success">Complete</MudChip>
                        }
                    </MudTd>
                    <MudTd DataLabel="Actions">
                        <MudIconButton Icon="@Icons.Material.Filled.OpenInNew" Color="Color.Primary"/>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"/>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Success">Add Task</MudButton>
        </MudCardActions>
    </MudCard>
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Activities</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudStack>
                @foreach (var activity in _collection.Activities)
                {
                    if ((ActivityTypeEnum) activity.Type == ActivityTypeEnum.Comment)
                    {
                        <MudCard Class="mb-2">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.caption">@activity.CreatedAt</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudAlert Class="object-fill" Severity="Severity.Info" Icon="@Icons.Filled.Comment" Dense="@dense">@activity.Content</MudAlert>
                            </MudCardContent>
                            <MudCardActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"/>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"/>
                            </MudCardActions>
                        </MudCard>
                    }

                    if ((ActivityTypeEnum) activity.Type == ActivityTypeEnum.StatusChange)
                    {
                        <MudCard Class="mb-2">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.caption">@activity.CreatedAt</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent>
                                <MudAlert Class="object-fill" Severity="Severity.Warning" Dense="@dense">Status Change: @activity.Content</MudAlert>
                            </MudCardContent>
                        </MudCard>
                    }
                }
            </MudStack>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Comment" Color="Color.Info" Size="Size.Small" @onclick="AddComment">Add Comment</MudButton>
        </MudCardActions>
    </MudCard>
    <MudScrollToTop>
        <MudFab Color="Color.Tertiary" Icon="@Icons.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudContainer>